@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

body{
overflow-x: hidden;
}

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --white: #ffffff;
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --background:-webkit-linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  }
  
  main {
    background-image: linear-gradient( to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe);}


a{
  text-decoration: none;
}
li{
  list-style: none;
}
h1,h2 h3,h4{
  font-family: "Urbanist", sans-serif;
}

h1{
  font-size: 6rem;
  color: var(--hero-heading-color);
  font-weight: 900;
  
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 1.8rem;
  font-weight: 500;
}
p,li,a,input,textarea{
  font-size: 1.8rem;
  letter-spacing: 0.1;
  color:var(--para-color);
  line-height: 2rem;
}




    .btn{
      cursor: pointer;
      background: -webkit-linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
      padding: 1.2rem 2.4rem;
      font-size: 1.8rem;
      font-weight: 500;
      color: var(--white);
      border: none;
      border-radius:1rem;
      -webkit-border-radius:1rem;
      -moz-border-radius:1rem;
      -ms-border-radius:1rem;
      -o-border-radius:1rem;
        }
.hero-btn{
  background-color: var(--hero-heading-color);
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  color:var(--white);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.hero-btn a{
  color: var(--white);
}
.hero-btn:hover{
  box-shadow: 0rem 0.3rem 0.3rem var(--helper);
}
  .container{
    width: 140rem;
    margin: 0 auto;
    padding: 9rem 2.4rem;
    }

.grid{
  display: grid;
  gap:6.4rem;
}
.grid-two--cols{
  grid-template-columns: repeat(2,1fr);
}

.grid-three--cols{
  grid-template-columns: repeat(3,1fr);
}

.grid-four--cols{
  grid-template-columns: repeat(4,1fr);
}

.common-heading{
  margin-bottom: 6.4rem;
  position: relative;
  }

  .common-heading::before{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    background-color:var(--helper);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .common-heading::after{
    content: "";
    position: absolute;
    top: 135%;
    left: 1.8rem;
    width: 20rem;
    height:0.3rem;
    background-color:var(--helper);
  }
  .common-subheading{
    max-width: 40%;
    font-weight: 300
  }
/************************NAVBAR***************************/
.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0rem 2.4rem;
  width: 100%;
  height: 10rem;
  box-shadow: var(--shadpw);
}
.logo img{
  width: 50%;
  height: auto;
}

.navbar .navlist{
  display: flex;
  align-items: center;
  gap:3.2rem;

  & li a{
    font-weight: 500;
  }
}


/************************Main Section***************************/
.main-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-img img{
  width: 80%;
  height: auto;
}

.main-contents .para{
  margin: 2rem 0 4rem 0;
  color: var(--white);
  
}
.main-contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  & p{
    color: var(--white);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
/************************Bio Section***************************/

.section-bio .container{
  & .bio-img{
    display: flex;
    align-items: center;
    justify-content: center;
    & img{width: 80%;
    box-shadow: -2rem -2rem var(--helper);}
  }

  & .bio-data{

   & .bio-data--stats{
    margin:3.2rem 0;
    & h3{
      margin-bottom: 1.8rem;
    }
   }
  }


& .bio-data .bio-data--stats{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.4rem;
}
}

.progress-bar{
  height: 1rem;
  width: 90%rem;
  position: relative;
  background-color: var(--helper-tint);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.progress-bar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 80%;
  background: -webkit-linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  border-radius:10rem ;
  -webkit-border-radius:10rem ;
  -moz-border-radius:10rem ;
  -ms-border-radius:10rem ;
  -o-border-radius:10rem ;
}

.progress-bar-2::before{
  width:90%;
}
.progress-bar-3::before{
  width:90%;
}

.progress-bar-4::before{
  width:80%;
}

.progress-bar-5::before{
  width:70%;
}


.progress-bar span{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 4rem;
  height: 2rem;
  background-color: var(--main-color);
  color: var(--white);
  font-weight: 600;
  top:2rem;
  left: 80%;
}

.progress-bar span::before{
  content: "";
  position: absolute;
  top:-1.6rem;
  left: 30%;
  border: 0.8rem solid white;
  border-color: transparent;
  border-bottom-color:var(--main-color);
}

.progress-bar-1 span{
  left:76%}
.progress-bar-2 span{
  left:86%}
.progress-bar-3 span{
  left:86%;
}

.progress-bar-4 span{
  left:76%;
}

.progress-bar-5 span{
  left:66%;
}

/*******************Portfolio Section***********************/
.p-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.img-overlay{
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.img-overlay img{
  width: 100%;
  height: auto;
  position: relative;
}


.img-overlay .overlay{
  position: absolute;
  background: -webkit-linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}


.img-overlay .overlay a{
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  cursor: pointer;
}

.img-overlay:hover .overlay{
  transform: translateY(0%);
}

/* ===========================================
work data Section
======================================= */
.section-work-data {
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  color: var(--third);
  text-align: center;
}

.common-numbers {
  font-size: 4.8rem;
}

.section-work-data p {
  color: var(--third);
}

/**********************Services Section******************/
.section-service .grid{
  gap:3.2rem;
}
.service-box{
  box-shadow: var(--shadpw);
  padding:6.4rem 3.2rem;
  text-align: center;
  transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;

  & h3{
  margin:3.2rem 0 1.8rem 0;
}
}

.service-box:hover{
  transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
}

.section-service .icon{
  font-size: 3.2rem;
  background-color: rgb(144 172 209 / 20%);
  padding: 3.2rem 3.2rem;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  position: relative;
  animation: water-wave 3s linear infinite;
  -webkit-animation: water-wave 3s linear infinite;
}

.section-service .icon::after{
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  border: 2px solid rgba(11, 15, 20, 0.9);
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -webkit-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -moz-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -ms-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -o-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  animation: water-wave 3s linear infinite;
  -webkit-animation: water-wave 3s linear infinite;
  background-color: transparent;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}


/**********************Freelancing Section******************/
.section-freelancing{
  background-image: url("../images/folio/3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background-attachment: fixed;

  &  .overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #3e64ff;
    opacity: 0.5;
   }
}
.section-freelancing .container{
  text-align: center;
  position: relative;
  & p{
  margin:1.8rem 0 3.2rem 0;
  color: var(--white);
  }
  & h2{
   color: var(--white);
   & span{
     color: #a0f669;;
   }
  }

}


/**********************Contact Section******************/


.section-contact{
  & label{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 1rem;
  }

  & .grid{
    gap:3.2rem;
    place-items: center;
  }
  & input, textarea{
    width: 100%;
    padding: 0.8rem 0.8rem;
    border: 0.1rem solid #c9c9c9;
    outline: none;
    margin-bottom: 1rem;
  }
}
.form-box{
  height: 50rem;
  & .btn{
     width: 25%;
     padding: 0.8rem;
     margin-top: 3.2rem;
  }
}

.section-service .container:first-child, .section-contact .container:first-child,.section-testimonial .container:first-child{
  padding-bottom: 0;
}
/**********************Footer Section******************/
.section-footer{
  color: var(--white);
  background-color: var(--heading);
  & p{
    color: #c9c9c9;
    margin: 1.8rem 0;
    letter-spacing: 0.1;
  }
  & ul li a{
    color: #c9c9c9;
    display: block;
    margin: 1.8rem 0;
  }

  & .credit .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }

& .credit .icon-box .icon{
  font-size: 3.2rem;
  color: var(--white);
  background-color: rgb(144 172 209 / 20%);
  padding: 1.8rem 1.8rem;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  position: relative;
  animation: water-wave 3s linear infinite;
  -webkit-animation: water-wave 3s linear infinite;

}
}

.section-footer .container .div-4{
  & address p{
    font-style: normal;
  }
}


.section-footer .credit p{
  text-align: center;
  line-height: 6.4rem;
}


/**********************Swiper Section******************/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**********************Testimonial Section******************/

.client-msg{
  box-shadow: var(--shadpw);
  padding: 6.4rem;
  position: relative;
}

.client-msg::before{
  content: "";
  position: absolute;
  bottom: -15rem;
  left: 50%;
  height: 0;
  width: 0;
  border: 5rem solid var(--white);
  border-color: transparent;
  border-top-color:#ced3ff;
  transform:translate(-50%,-50%) ;
  -webkit-transform:translate(-50%,-50%) ;
  -moz-transform:translate(-50%,-50%) ;
  -ms-transform:translate(-50%,-50%) ;
  -o-transform:translate(-50%,-50%) ;
}

.client-msg p{
  text-align: justify;
  font-weight: 300;
  font-size: 1.8rem;
  position: relative;
}

.client-msg p::before{
  content: "\f10d";
  display: inline-block;
  position: absolute;
  top: -3rem;
  left: -5rem;
  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ced3ff;
  }
.client-msg p::after{
  content: "\f10e";
  display: inline-block ;
  position: absolute;
  bottom: -2rem;
  right: -5rem;

  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ced3ff;
}



.client-data{
  margin: 3.2rem;
& img{
  display: inline-block;
  height: 8rem;
  width: 8rem;
  border: 0.3rem solid var(--helper);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
}

.swiper-slide .grid{
  gap: 3.2rem;
  align-items: center;
}


/**********************MEDIA Section******************/

.mobile-nav--btn{
  display: none;
  border: 0.2rem solid black;
  font-size: 3rem;
  padding: 1rem;
  z-index: 1;
}
.mobileicon[name="closeicon"]{
  display: none;
}

.active .navbar{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.active .mobile-nav--btn .mobileicon[name="closeicon"]{
  display: block;
}

.active .mobile-nav--btn .mobileicon[name="menuicon"]{
  display: none;
}


@media(width <= 980px){
.header{
  position: relative;
  & .logo img{
    width: 50%;
  }
}

.mobile-nav--btn{
  display: block;
}

.navbar{
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background:-webkit-linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  z-index: 1;
}

.navlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & li a{
    color: var(--white);
    font-size: 2.4rem;
  }
}

} 


@media(width <= 1400px){
  .container{
    max-width: 130rem;
    padding: 3.2rem 2.4rem;
    margin: 0 auto;
  }
}

@media(width <= 1300px){
  html{
    font-size:58%;
  }
}

@media(width <= 1200px){
  html{
    font-size:56.25% ;
  }
  .container{
    max-width: 110rem;
    margin: 0 auto;
  }
  .grid{
    gap:4.8rem;
  }
}


@media(max-width : 980px) {
  html{
    font-size: 50%;
  }
  .container {
    max-width: 820px;
    margin: 0 auto;
  }
  .grid{
    gap:3.2rem;
  }
}

@media(max-width : 825px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media(max-width : 780px) {
  .container {
    max-width: 350px;
    margin: 0 auto;
  }

  .main-contents{
    order: 2;
  }
  .main-img{
    order: 1;
  }
  .bio-img{
    order: 2;
  }

  .grid-four--cols,.grid-three--cols,.grid-two--cols{
    grid-template-columns: 1fr;
  }

  .section-contact .grid {
    gap:1.8rem;
  }
.section-contact{
  height: 115rem;
}
  .form-box{
    height: 35rem;
    & .btn{
       width: 40%;
       padding: 0.8rem;
       margin-top: 1.8rem;
    }
  }
  .google-map{
    margin: 200px 0 100px 0;
  }
  .google-map iframe{
  width: 250px;
  height: 250px;
  }
.p-btns{
gap: 1.8rem;
}
}